// main colors
$primary-clr: #333;
$secondary-clr: #ccc;
$accent-clr: #ffbc00;
$light-clr: #f4f4f4;
$card-title-fs: 1.5rem;
$card-p-fs: 1.5rem;
$section-title-fs: 2.5rem;
$section-desc-fs: 1.5rem;

// Resets

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Dosis', sans-serif;
	line-height: 1.6;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

h1,h2,h3,h4 {
	line-height: 1.1;
}

// Utility 

.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 1.5rem 0;
	overflow: hidden;
}

.current {
	border-bottom: 4px solid $accent-clr !important;
}

.flow-content--s > * + * {
	margin-top: .5rem
}

.flow-content > * + * {
	margin-top: 1.5rem
}

.flow-content--m > * + * {
	margin-top: 1rem
}

.flow-content--xl> * + * {
	margin-top: 3rem
}

.grid {
	display: grid
}

.grid--1x3 {
	grid-template-columns: repeat(3, minmax(auto, 1fr))
}

.grid--1x4 {
	grid-template-columns: repeat(4, minmax(auto, 1fr))
}

.grid--1x2 {
	grid-template-columns: repeat(2, minmax(auto, 1fr))
	
}


%btn {
	display: inline-block;
	padding: .7em 2em;
	border: 0;
	font-size: 1.125rem;
	cursor: pointer;
}

.btn {
	@extend %btn;
}

.btn--light {
	background: #fff;
	color: #000;
	transition: 250ms;

	&:hover,
	&:focus {
		background: $accent-clr;
	}
}

.btn--dark {
	background: $primary-clr;
	color: #fff;
	transition: 250ms;

	&:hover,
	&:focus {
		background: $accent-clr;
	}
}

.icon--accent {
	color: $accent-clr;
	font-size: 4.5rem;
}



.section-title {
	font-size: 2.5rem;
	font-weight: 100;
}
.section-title::after {
	content: '';
	width: 100px;
	margin: 1rem auto;
	display: block;
	height: 4px;
	background: $accent-clr;
}
